Repository mer-sroom/Haewooso, pull requests merged in 2024-08, with the labels that each got.

#3 Map api fix
  .github/PULL_REQUEST_TEMPLATE.md
  backend/haewooso/urls.py
  backend/restrooms/views.py
  frontend/src/components/Map.js
Labels: 🐞 Bug

#17 home-page-ui-create
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Map.js
  frontend/src/components/Navbar.css
  frontend/src/components/Navbar.js
  frontend/src/pages/Home.css
  frontend/src/pages/Home.js
Labels: ✨ CSS, 🥑 Frontend

#19 feat : GPS 버튼 UI 구현 #18
  frontend/src/components/Map.js
  frontend/src/pages/Home.css
  frontend/src/pages/Home.js
Labels: ✨ CSS, 🥑 Frontend

#20 feat: create sidebar #12
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Navbar.js
  frontend/src/components/Sidebar.js
Labels: 🐞 Bug, ✨ CSS, ⚡️ Feature / Function

#22 feat: LoginPage html, css
  frontend/src/assets/icon.png
  frontend/src/assets/icon.svg
  frontend/src/assets/login_title.png
  frontend/src/pages/Login.css
  frontend/src/pages/Login.js
Labels: 🎨 HTML, ✨ CSS, 🥑 Frontend

#24 Gps feat add # 23
  frontend/src/App.js
  frontend/src/assets/GPS.svg
  frontend/src/components/Map.js
  frontend/src/pages/Home.css
  frontend/src/pages/Home.js
Labels: ✨ CSS, ⚡️ Feature / Function, 🥑 Frontend

#26 feat : gps-data-init
  backend/haewooso/urls.py
  backend/restrooms/views.py
  frontend/src/components/Map.js
  frontend/src/pages/Home.js
Labels: ⚡️ Feature / Function, 🍋 Backend

#27 feat: Signup html, css
  frontend/src/pages/Signup.css
  frontend/src/pages/Signup.js
Labels: 🎨 HTML, ✨ CSS, 🥑 Frontend

#29 feat : 검색시 주변 화장실 기준으로 검색어 필터링해서 목록에 뜨기 #28
  backend/haewooso/urls.py
  backend/restrooms/views.py
  frontend/src/pages/Home.css
  frontend/src/pages/Home.js
Labels: ⚡️ Feature / Function, 🍋 Backend

#30 feat: create Review Modal #11
  frontend/src/App.js
  frontend/src/components/RatingStars.js
  frontend/src/components/ReviewForm.js
  frontend/src/pages/Modal.css
  frontend/src/pages/RestroomDetail.js
Labels: ✨ CSS, ⚡️ Feature / Function

#31 Sidebar develop connect route
  frontend/src/App.js
  frontend/src/assets/dologin.svg
  frontend/src/components/Sidebar.css
  frontend/src/components/Sidebar.js
Labels: ✨ CSS, ⚡️ Feature / Function, ⚙️ Fix, 🥑 Frontend

#32 feat: Login and Signup
  frontend/src/pages/Login.js
  frontend/src/pages/Signup.js
Labels: 🥑 Frontend

#38 feat : login-back-add
  backend/haewooso/settings.py
  backend/haewooso/urls.py
  backend/restrooms/serializers.py
  backend/restrooms/views.py
  frontend/src/App.js
  frontend/src/components/Navbar.js
  frontend/src/components/Sidebar.js
  frontend/src/pages/Home.js
  frontend/src/pages/Login.js
  frontend/src/pages/Signup.js
Labels: ⚡️ Feature / Function, 🍋 Backend

#42 feat: navbar & home css modify
  frontend/src/components/Navbar.css
  frontend/src/pages/Home.css
Labels: ✨ CSS, 🥑 Frontend

#44 feat : home-animation-add
  frontend/src/pages/Home.css
  frontend/src/pages/Home.js
Labels: ✨ CSS, 🥑 Frontend

#47 Detail page 초기 UI
  frontend/src/components/Detail.css
  frontend/src/components/Detail.js
  frontend/src/components/Map.js
Labels: 🥑 Frontend

#50 feat : detail-page-fix
  backend/restrooms/views.py
  frontend/src/components/Detail.css
  frontend/src/components/Detail.js
  frontend/src/components/Map.js
Labels: ✨ CSS, ⚡️ Feature / Function, 🍋 Backend, 🥑 Frontend

#51 feat: Home css (gps background-size)
  frontend/src/pages/Home.css
Labels: ✨ CSS

#52 feat: Map & Home css
  frontend/src/components/Map.js
  frontend/src/pages/Home.css
Labels: ✨ CSS

#53 feat : Add new feature on search bar (#48)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/exitBtn.svg
  frontend/src/pages/Home.css
  frontend/src/pages/Home.js
Labels: 📃 Docs, ✨ CSS, ⚡️ Feature / Function
